[tool.ruff]

exclude = [
    ".eggs",
    ".git",
    "build",
    "dist",
]

# Same as Black.
line-length = 95

[tool.ruff.lint.mccabe]
max-complexity = 10

[tool.ruff.lint.per-file-ignores]
"**/__init__.py" = ["F401"]
"onnxmltools/convert/coreml/operator_converters/GLMClassifier.py" = ["E501"]
"onnxmltools/convert/coreml/operator_converters/SVC.py" = ["E501"]
"onnxmltools/convert/coreml/operator_converters/TensorToLabel.py" = ["E501"]
"onnxmltools/convert/coreml/operator_converters/TreeEnsemble.py" = ["E501"]
"onnxmltools/convert/coreml/operator_converters/neural_network/BidirectionalLSTM.py" = ["E501"]
"onnxmltools/convert/coreml/operator_converters/neural_network/GRU.py" = ["E501"]
"onnxmltools/convert/coreml/operator_converters/neural_network/SimpleRNN.py" = ["E501"]
