black
catboost
cython
dill
libsvm
lightgbm; sys_platform != 'darwin'
mleap
numpy
openpyxl
pandas
pyspark
pytest
pytest-cov
pytest-spark; sys_platform != 'win32'
ruff
scikit-learn>=1.2.0
scipy
skl2onnx>=1.19.1
wheel
xgboost
onnxruntime
