-f https://download.pytorch.org/whl/torch_stable.html
codecov
coremltools
cython
flatbuffers
libsvm
lightgbm
h2o
mleap
numpy
openpyxl
pandas
protobuf
pyspark
pytest
pytest-cov
pytest-spark
scikit-learn
scipy
wheel
xgboost
catboost
flake8
torch
hummingbird-ml
