catboost
codecov
coloredlogs
cython
dill
flake8
flatbuffers
humanfriendly
libsvm
lightgbm
mleap
mppath
numpy
openpyxl
packaging
pandas
protobuf<4.0
psutil
pyparsing
pyreadline3
pyspark
pytest
pytest-cov
pytest-spark
scikit-learn==1.1.0
scipy==1.8.0
sympy
wheel
xgboost==1.5.2
