# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master

jobs:

- job: 'Test'
  pool:
    vmImage: 'Ubuntu-16.04'
  strategy:
    matrix:
      Python36-nightly:
        python.version: '3.6'
        ONNX_PATH: onnx==1.6.0
        ORT_PATH: -i https://test.pypi.org/simple/ ort-nightly
    maxParallel: 3

  steps:
  - script: sudo install -d -m 0777 /home/vsts/.conda/envs
    displayName: Fix Conda permissions

  - task: CondaEnvironment@1
    inputs:
      createCustomEnvironment: true
      environmentName: 'py$(python.version)'
      packageSpecs: 'python=$(python.version)'

  - script: |
      python -m pip install --upgrade pip
      conda config --set always_yes yes --set changeps1 no
      conda install -c conda-forge protobuf
      conda install -c conda-forge numpy
      conda install -c conda-forge cmake
      python -m pip install $(ONNX_PATH)
      python -m pip install git+https://github.com/microsoft/onnxconverter-common
      python -m pip install -r requirements.txt
      python -m pip install -r requirements-dev.txt
      python -m pip install $(ORT_PATH)
      python -m pip install pytest
      git clone --recursive https://github.com/cjlin1/libsvm libsvm
      cd libsvm
      make lib
    displayName: 'Install dependencies'

  - script: |
      export PYTHONPATH=$PYTHONPATH:libsvm/python
      python -c "import svmutil"
      python -c "import onnxconverter_common"
      test '$(python.version)' != '2.7' && python -c "import onnxruntime"
      pytest tests --ignore=tests/sparkml --doctest-modules --junitxml=junit/test-results.xml
    displayName: 'pytest - onnxmltools'

  - task: PublishTestResults@2
    inputs:
      testResultsFiles: '**/test-results.xml'
      testRunTitle: 'Python $(python.version)'
    condition: succeededOrFailed()
