# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master

jobs:

- job: 'Test'
  timeoutInMinutes: 25
  pool:
    vmImage: 'ubuntu-latest'
  strategy:
    matrix:
      Python39-1101-RT181-xgb11:
        python.version: '3.9'
        ONNX_PATH: onnx==1.10.1  # '-i https://test.pypi.org/simple/ onnx==1.9.101'
        ONNXRT_PATH: onnxruntime==1.8.1
        COREML_PATH: git+https://github.com/apple/coremltools@3.1
        xgboost.version: '>=1.2'
      Python39-190-RT180-xgb11:
        python.version: '3.9'
        ONNX_PATH: onnx==1.9.0
        ONNXRT_PATH: onnxruntime==1.8.0
        COREML_PATH: git+https://github.com/apple/coremltools@3.1
        xgboost.version: '>=1.2'
      Python38-181-RT170-xgb11:
        python.version: '3.8'
        ONNX_PATH: onnx==1.8.1
        ONNXRT_PATH: onnxruntime==1.7.0
        COREML_PATH: git+https://github.com/apple/coremltools@3.1
        xgboost.version: '>=1.2'
      Python37-180-RT160-xgb11:
        python.version: '3.7'
        ONNX_PATH: onnx==1.8.0
        ONNXRT_PATH: onnxruntime==1.6.0
        COREML_PATH: git+https://github.com/apple/coremltools@3.1
        xgboost.version: '>=1.2'
      Python37-150-RT100:
        python.version: '3.7'
        ONNX_PATH: onnx==1.5.0
        ONNXRT_PATH: onnxruntime==1.0.0
        COREML_PATH: git+https://github.com/apple/coremltools@3.1
        xgboost.version: ''
      Python37-160-RT111-XGB0:
        python.version: '3.7'
        ONNX_PATH: onnx==1.6.0
        ONNXRT_PATH: onnxruntime==1.1.1
        COREML_PATH: git+https://github.com/apple/coremltools@3.1
        xgboost.version: '<1.0'
      Python37-160-RT111:
        python.version: '3.7'
        ONNX_PATH: onnx==1.6.0
        ONNXRT_PATH: onnxruntime==1.1.1
        COREML_PATH: git+https://github.com/apple/coremltools@3.1
        xgboost.version: '>=1.0'
      Python37-170-RT130:
        python.version: '3.7'
        ONNX_PATH: onnx==1.7.0
        ONNXRT_PATH: onnxruntime==1.3.0
        COREML_PATH: git+https://github.com/apple/coremltools@3.1
        xgboost.version: '>=1.0'
      Python37-180-RT160:
        python.version: '3.7'
        ONNX_PATH: onnx==1.8.0
        ONNXRT_PATH: onnxruntime==1.6.0
        COREML_PATH: git+https://github.com/apple/coremltools@3.1
        xgboost.version: '>=1.0'
    maxParallel: 3

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'

  - script: |
      python -m pip install --upgrade pip
      pip install $(ONNX_PATH)
      pip install $(ONNXRT_PATH)
      pip install -r requirements.txt
    displayName: 'Install dependencies'

  - script: |
      pip install -r requirements-dev.txt
    displayName: 'Install dependencies-dev'

  - script: |
      python -m pip install --upgrade pip
      pip install xgboost$(xgboost.version)
      pip install $(COREML_PATH)
    displayName: 'Install xgboost, onnxruntime'

  - script: |
      pip install flake8
      python -m flake8 ./onnxmltools
    displayName: 'run flake8 check'

  - script: |
      pip install -e .
    displayName: 'local installation'

  - script: |
      export PYTHONPATH=.
      python -c "import onnxconverter_common;print(onnxconverter_common.__version__)"
      python -c "import onnxruntime;print(onnxruntime.__version__)"
    displayName: 'version'

  - script: |
      export PYTHONPATH=.
      pytest tests/baseline --durations=0
    displayName: 'pytest - baseline'

  - script: |
      export PYTHONPATH=.
      pytest tests/catboost --durations=0
    displayName: 'pytest - catboost'

  - script: |
      export PYTHONPATH=.
      pytest tests/coreml --durations=0
    displayName: 'pytest - coreml'

  - script: |
      export PYTHONPATH=.
      pytest tests/lightgbm --durations=0
    displayName: 'pytest - lightgbm'

  - script: |
      export PYTHONPATH=.
      pytest tests/sparkml --durations=0
    displayName: 'pytest - sparkml'

  - script: |
      export PYTHONPATH=.
      pytest tests/svmlib --durations=0
    displayName: 'pytest - svmlib'

  - script: |
      export PYTHONPATH=.
      pytest tests/utils --durations=0
    displayName: 'pytest - utils'

  - script: |
      export PYTHONPATH=.
      pytest tests/xgboost --durations=0
    displayName: 'pytest - xgboost'

  - script: |
      export PYTHONPATH=.
      pip install h2o
      pytest tests/h2o --durations=0
    displayName: 'pytest - h2o'

  - script: |
      pip install torch==1.9.0
      pip install hummingbird-ml
    displayName: 'Install hummingbird-ml'

  - script: |
      export PYTHONPATH=.
      pytest tests/hummingbirdml --durations=0
    displayName: 'pytest - hummingbirdml'

  - task: PublishTestResults@2
    inputs:
      testResultsFiles: '**/test-results.xml'
      testRunTitle: 'Python $(python.version)'
    condition: succeededOrFailed()
