# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master

jobs:

- job: 'Test'
  pool:
    vmImage: 'Ubuntu-16.04'
  strategy:
    matrix:
      Python27:
        python.version: '2.7'
        ONNX_PATH: onnx==1.2.3
      # Python35:
      #   python.version: '3.5'
      Python36:
        python.version: '3.6'
        ONNX_PATH: onnx==1.4.1
    maxParallel: 3

  steps:
  - task: CondaEnvironment@1
    inputs:
      createCustomEnvironment: true
      environmentName: 'py$(python.version)'
      packageSpecs: 'python=$(python.version)'

  - script: |
      python -m pip install --upgrade pip
      conda config --set always_yes yes --set changeps1 no
      conda install -c conda-forge protobuf
      conda install -c conda-forge numpy
      conda install -c conda-forge cmake
      pip install $(ONNX_PATH)
      pip install -r requirements.txt
      pip install -r requirements-dev.txt
      test '$(python.version)' != '2.7' && pip install onnxruntime==0.1.4
      pip install pytest
      git clone --recursive https://github.com/cjlin1/libsvm libsvm
      cd libsvm
      make lib
      cd ../onnxmltools/onnxutils
      pip install -e .
    displayName: 'Install dependencies'

  - script: |
      export PYTHONPATH=$PYTHONPATH:libsvm/python
      python -c "import svmutil"
      python -c "import onnxtk"
      test '$(python.version)' != '2.7' && python -c "import onnxruntime"
      pytest tests --doctest-modules --junitxml=junit/test-results.xml
    displayName: 'pytest'

  - task: PublishTestResults@2
    inputs:
      testResultsFiles: '**/test-results.xml'
      testRunTitle: 'Python $(python.version)'
    condition: succeededOrFailed()
