# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master

jobs:

- job: 'Test'
  timeoutInMinutes: 30
  pool:
    vmImage: 'windows-latest'
  strategy:
    matrix:

      Python310-1130-RT1140:
        python.version: '3.10'
        ONNX_PATH: 'onnx==1.13.0' # '-i https://test.pypi.org/simple/ onnx==1.12.0rc4'
        ONNXRT_PATH: onnxruntime==1.14.0 #'-i https://test.pypi.org/simple/ ort-nightly==1.11.0.dev20220311003'
        COREML_PATH: NONE
        numpy.version: ''

      Python310-1130-RT1131:
        python.version: '3.10'
        ONNX_PATH: 'onnx==1.13.0' # '-i https://test.pypi.org/simple/ onnx==1.12.0rc4'
        ONNXRT_PATH: onnxruntime==1.13.1 #'-i https://test.pypi.org/simple/ ort-nightly==1.11.0.dev20220311003'
        COREML_PATH: NONE
        numpy.version: ''

      Python39-1120-RT1110:
        python.version: '3.9'
        ONNX_PATH: 'onnx==1.12.0' # '-i https://test.pypi.org/simple/ onnx==1.12.0rc4'
        ONNXRT_PATH: onnxruntime==1.11.0 #'-i https://test.pypi.org/simple/ ort-nightly==1.11.0.dev20220311003'
        COREML_PATH: git+https://github.com/apple/coremltools@3.1
        numpy.version: ''

      Python39-1110-RT1110:
        python.version: '3.9'
        ONNX_PATH: onnx==1.11.0  # '-i https://test.pypi.org/simple/ onnx==1.9.101'
        ONNXRT_PATH: onnxruntime==1.11.0 #'-i https://test.pypi.org/simple/ ort-nightly==1.11.0.dev20220311003'
        COREML_PATH: git+https://github.com/apple/coremltools@3.1
        numpy.version: ''

      Python39-1110-RT190:
        python.version: '3.9'
        ONNX_PATH: 'onnx==1.11.0'  # '-i https://test.pypi.org/simple/ onnx==1.9.101'
        ONNXRT_PATH: onnxruntime==1.10.0
        COREML_PATH: git+https://github.com/apple/coremltools@3.1
        numpy.version: ''

      Python39-1102-RT190:
        python.version: '3.9'
        ONNX_PATH: 'onnx==1.10.2'  # '-i https://test.pypi.org/simple/ onnx==1.9.101'
        ONNXRT_PATH: onnxruntime==1.9.0
        COREML_PATH: git+https://github.com/apple/coremltools@3.1
        numpy.version: '<=1.23.5'

      Python39-190-RT181:
        python.version: '3.9'
        ONNX_PATH: 'onnx==1.9.0'
        ONNXRT_PATH: onnxruntime==1.8.1
        COREML_PATH: git+https://github.com/apple/coremltools@3.1
        numpy.version: '<=1.23.5'

      Python39-190-RT180:
        python.version: '3.9'
        ONNX_PATH: onnx==1.9.0
        ONNXRT_PATH: onnxruntime==1.8.0
        COREML_PATH: git+https://github.com/apple/coremltools@3.1
        numpy.version: '<=1.23.5'

      Python38-181-RT170:
        python.version: '3.8'
        ONNX_PATH: onnx==1.8.1
        ONNXRT_PATH: onnxruntime==1.7.0
        COREML_PATH: git+https://github.com/apple/coremltools@3.1
        numpy.version: '<=1.23.5'

    maxParallel: 3

  steps:
  - powershell: Write-Host "##vso[task.prependpath]$env:CONDA\Scripts"
    displayName: Add conda to PATH

  - script: conda create --yes --quiet --name py$(python.version) -c conda-forge python=$(python.version) numpy protobuf scikit-learn scipy cython
    displayName: Create Anaconda environment

  - script: |
      call activate py$(python.version)
      python -m pip install --upgrade pip numpy
      echo Test numpy installation... && python -c "import numpy"
      python -m pip install -r requirements.txt
    displayName: 'Install dependencies (1)'

  - script: |
      call activate py$(python.version)
      python -m pip install -r requirements-dev.txt
    displayName: 'Install dependencies-dev'

  - script: |
      call activate py$(python.version)
      python -m pip install --upgrade scikit-learn
    displayName: 'Install scikit-learn'

  - script: |
      call activate py$(python.version)
      python -m pip install %ONNX_PATH%
      python -m pip install %ONNXRT_PATH%
      python -m pip install "numpy$(numpy.version)"
    displayName: 'Install onnxruntime'

  - script: |
      call activate py$(python.version)
      python -m flake8 ./onnxmltools
    displayName: 'run flake8 check'

  - script: |
      call activate py$(python.version)
      python -m pip install -e .
      export PYTHONPATH=.
      python -c "import onnxconverter_common;print(onnxconverter_common.__version__)"
      python -c "import onnx;print(onnx.__version__)"
      python -c "import onnxruntime;print(onnxruntime.__version__)"
      python -c "import xgboost;print(xgboost.__version__)"
      python -c "import lightgbm;print(lightgbm.__version__)"
    displayName: 'version'

  - script: |
      call activate py$(python.version)
      export PYTHONPATH=.
      python -m pytest tests/baseline --durations=0
    displayName: 'pytest baseline'

  - script: |
      call activate py$(python.version)
      export PYTHONPATH=.
      python -m pytest tests/catboost --durations=0
    displayName: 'pytest catboost'

  - script: |
      call activate py$(python.version)
      set PYTHONPATH=.
      if "$(COREML_PATH)" neq "NONE" python -m pip install %COREML_PATH%
      if "$(COREML_PATH)" neq "NONE" python -m pytest tests/coreml --durations=0
    displayName: 'pytest coreml - [$(COREML_PATH)]'
    #condition: ne('$(COREML_PATH)', 'NONE')

  - script: |
      call activate py$(python.version)
      export PYTHONPATH=.
      python -m pytest tests/lightgbm --durations=0
    displayName: 'pytest lightgbm'

  - script: |
      call activate py$(python.version)
      export PYTHONPATH=.
      python -m pytest tests/sparkml --durations=0
    displayName: 'pytest sparkml'

  - script: |
      call activate py$(python.version)
      export PYTHONPATH=.
      python -m pytest tests/svmlib --durations=0
    displayName: 'pytest svmlib'

  - script: |
      call activate py$(python.version)
      export PYTHONPATH=.
      python -m pytest tests/utils --durations=0
    displayName: 'pytest utils'

  - script: |
      call activate py$(python.version)
      export PYTHONPATH=.
      python -m pytest tests/xgboost --durations=0
    displayName: 'pytest xgboost'

  - script: |
      call activate py$(python.version)
      python -m pip install torch
      python -m pip install hummingbird-ml --no-deps
    displayName: 'Install hummingbird-ml'

  - script: |
      call activate py$(python.version)
      export PYTHONPATH=.
      python -m pytest tests/hummingbirdml --durations=0
    displayName: 'pytest hummingbirdml'

  - task: PublishTestResults@2
    inputs:
      testResultsFiles: '**/test-results.xml'
      testRunTitle: 'Python $(python.version)'
    condition: succeededOrFailed()
